<h1>Blog posts</h1>
<table class='table'>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th colspan='2'>Body</th>
    </tr>
    <% @posts.each do |elem| %>
    <tr>
        <td><%= elem.id %></td>
        <td><%= elem.title %></td>
        <td><%= elem.body %></td>
        <td><%= <%= link_to "Read More", post_path(post), :class => 'btn btn-default' %></td>
    </tr>
    <% end %>
</table>