<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT4RNVSIH2AA2KY-dHFm9T0Q8P9By-uiLai2Q&usqp=CAU" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><b>(<%= @post.id %>)</b> <%= @post.title %></h5>
                <p class="card-text"><%= @post.body %></p>
                <div>
                <%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-primary' %>
                <%= link_to "Delete", post_path(@post),
                method: :delete, 
                data:{confirm: 'Are you sure ?'},
                :class => 'btn btn-danger' %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 py-4">
<% if(@post.comments.length) %>
<h3>Comments</h3>
<% end %>
<ul>
<% @post.comments.each do |elem| %>
    <li><strong> <%= elem.username %></strong> : <%= elem.body %></li>
<% end %>
</ul>
</div>
</div>
<div class="row">
    <div class="col-sm-12 py-4">
        <h1>Add Comment</h1>
    </div>
</div>
<%= form_for ([@post,@post.comments.build])   do |f| %>
    <% if (@post.errors.any?) %>
        <% @post.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>
    <% end %>
    <p>
        <%= f.label :username %><br>
        <%= f.text_field(:username, {:class=>'form-control'}) %><br>
    </p>
    <p>
        <%= f.label :body %><br>
        <%= f.text_area(:body,{:class=>'form-control'}) %><br>
    </p>
    <p>
        <%= f.submit({:class=>'btn btn-primary'}) %>
    </p>
<% end %>